@import "tailwindcss";
@plugin "tailwind-scrollbar";
/* @source inline("mt-2,mt-52,mt-76"); */

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #606c38;
  --color-primary-dark: #283618;
  --color-secondary: #dda15e;
  --color-secondary-dark: #bc6c25;
  --color-white: #fefae0;

  --breakpoint-sm: 27rem  
}